* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

li, a {
    text-decoration: none;
    list-style-type: none;
    padding-right: 11px;
    color: black;
}


.topright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: 100%;
    margin-right: 10px;
}



.gridicon {
    height: 2.5vh;
    opacity: .6;
    padding: 3px 5px 0px 0px;
}

.profileicon {
    height: 5vh;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.search-box {
    width: 530px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid rgb(221, 221, 221);
    outline: none;
    padding-left: 50px;
    font-size: 15px;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.2);
}

.search-container {
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.iconright, .iconleft {
    position: absolute;
    margin-top: 15px;
}

.iconright {
    margin-left: 545px;
    top: -3px;
    height: 3vh;
    cursor: pointer;
}

.iconleft {
    margin-left: 20px;
    opacity: .5;
}

.buttons {
    margin-top: 25px;
    text-align: center;
}

.btn {
    height: 35px;
    width: 140px;
    border-style: none;
    border-radius: 5px;
    margin: 4px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;
}

.languageoffer {
    margin-top: 30px;

}

#language {
    color: #0000EE; 
}

#language:visited {
    color: #551A8B
}