.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

li, a {
    text-decoration: none;
    list-style-type: none;
    padding-right: 15px;
}

.topright {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.search-box {
    width: 420px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid rgb(185, 185, 185);
    outline: none;
    padding-left: 40px;
    font-size: 15px;
}

.search-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.iconright, .iconleft {
    position: absolute;
    margin-top: 15px;
}

.iconright {
    margin-left: 430px;
}

.iconleft {
    margin-left: 20px;
}